<ul class="nav navbar-nav">
  <li data-href="">
    <a href="/" class="route" data-role="route" title="" id="">
      <i class="fa fa-dashboard"></i>dashboard
    </a>
  </li>
  <li data-href="users">
    <a href="/users" class="route" data-role="route" title="" id="users">
      <i class="fa fa-users"></i>customers
    </a>
  </li>
  <li data-href="nutritionists">
    <a href="/nutritionists" class="route" data-role="route" title="" id="nutritionists">
      <i class="fa fa-support"></i>nutritionists
    </a>
  </li>
  <li data-href="activities">
    <a href="/activities" class="route" data-role="route" title="" id="activities">
      <i class="fa fa-history"></i>activities
    </a>
  </li>
</ul>
