<td class="text-left"><%= model.id %></td>
<td class="text-left"><%= model.escape('first_name') + ' ' + model.escape('last_name') %></td>
<td class="text-left"><%= model.get('email') %></td>
<td class="text-left"><%= (model.get('is_admin')) ? 'Admin' : ((model.get('is_nutritionist')) ? 'Nutritionist' : 'User') %></td>
<td class="text-left"><%= moment(model.get('created')).format('YYYY/MM/DD hh:mm a') %></td>
<td class="text-center">
  <button class="btn btn-info edit"><span class="fa fa-edit"></span></button>
</td>
